<%- include('partials/header'); -%>
<h1>About App</h1>
<p><%= aboutText %></p>
<br>
<br>
<h2>About Me</h2>
<p>Hi, I am Vikrant Prasad a final year Chemical Engineering student at IIT Guwahati, learning web deveopment.</p>
<%- include('partials/footer'); -%>
