<%- include('partials/header'); -%>
<h1>About Site</h1>
<p><%= aboutText %></p>
<br>
<br>
<h2>About Me</h2>
<p>Hi, I am Vikrant Prasad a final year Chemical Engineering student at IIT Guwahati, learning web deveopment.</p>
<p>I love coding and i am trying to gain mastery in full-stack web development. Although my majors is Chemical Engineering I am trying to learn more about core cs subjects.
    I am a big fan of sci-fi youtube channels like Melodysheep, Kurzgesagt which talk about fate of humans, earth, how we came to existence and what is our destiny.
</p>

<%- include('partials/footer'); -%>
